@using BlazorApp.Data;
@page "/Authorization"

<h3>Authorization</h3>

Имя<br />
<input type="text" id="NameS" @bind="@name"/><br /><br />
Фамилия<br />
<input type="text" id="SurnameS" @bind="@surname"/><br /><br />
Группа<br />
<input type="number" id="GroupS" @bind="@group"/><br /><br />
<button class="btn btn-primary" @onclick="Add">Добавить</button>

@code {
    public static List<Students> stud;
    string name;
    string surname;
    int group;
    public void Add()
    {
        Students.AddToList(name, surname, group);
    }
}
