@using BlazorApp.Data
@page "/Component"

<h1>Component</h1>


@if (stud == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@titles[0]</th>
                <th>@titles[1]</th>
                <th>@titles[2]</th>
            </tr>
        </thead>
        <tbody>
            <ComponentGame stud="stud"></ComponentGame>
        </tbody>
    </table>
}



@code {
    public List<string> titles = Students.titles;
    public static List<Students> stud = Students.GetStudentInfo();

    public List<string> titlesG = Games.titlesG;
    public static List<Games> game = Games.GetStudentInfo();
}
