@using BlazorApp.Data
@page "/Component"

<h1>Component</h1>

@if (stud == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Group</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stud in stud)
            {
                <tr>
                    <td>@stud.Name</td>
                    <td>@stud.Surname</td>
                    <td>@stud.Group</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public static List<Students> stud = Students.GetStudentInfo();
}
