@using BlazorApp.Data

@foreach (var stud in stud)
{
    <tr>
        <td>@stud.Name</td>
        <td>@stud.Surname</td>
        <td>@stud.Group</td>
    </tr>
}

@code {
    [Parameter]
    public List<Students> stud { get; set; }

}
